/*!* полоса прокрутки (скроллбар) *!*/

/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #394474;
    border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #7880a4;
    border-radius: 4px;
}

/* text highlight color */
::selection {
    color: #ffffff;
    background-color: #B4D5FE;
}

::-moz-selection {
    color: #ffffff;
    background-color: #B4D5FE;
}

::-webkit-scrollbar-corner{ display: none; }

::-webkit-resizer {
    display: none;
}

input[type="checkbox"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

input[type="checkbox"] + label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top !important;
    display: inline-block !important;
    padding-left: 20px;
}

input[type="checkbox"] + label:before {
    width: 1.25rem;
    height: 1.25rem;
    left: -8px;
    background-color: #171b4a;
    border: 1px solid #ced4d9;
    border-radius: .2rem;
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    position: absolute;
    content: "";
}

input[type="checkbox"]:checked~label:before {
    color: #fff;
    border-color: #5953f9;
    background-color: #5953f9;
}

input[type="checkbox"] + label:after {
    top: -3px;
    left: -28px;
}

input[type="checkbox"] + label:after {
    top: -4px;
    left: -9px;
    display: block;
    width: 25px;
    height: 28px;
}

input[type="checkbox"] + label:after {
    background: no-repeat 50%/50% 50%;
}
input[type="checkbox"] + label:after, input[type="checkbox"] + label:before {
    position: absolute;
    content: "";
}

input[type="checkbox"]:focus~label:before {
    box-shadow: 0 0 0 1px #ddd;
}


input[type="checkbox"]:checked~label:after {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSItMjk1IDM4OSAyMSAxNiI+PGRlZnM+PHBhdGggaWQ9ImEiIGQ9Ik0tMjk1IDM4OWgyMXYxNmgtMjF6Ii8+PC9kZWZzPjxjbGlwUGF0aCBpZD0iYiI+PHVzZSB4bGluazpocmVmPSIjYSIgb3ZlcmZsb3c9InZpc2libGUiLz48L2NsaXBQYXRoPjxwYXRoIGNsaXAtcGF0aD0idXJsKCNiKSIgZmlsbD0iI0ZGRiIgZD0iTS0yOTQuNzYyIDM5Ny44MDFhLjg2Ni44NjYgMCAwMS0uMjM4LS41NjJjMC0uMTYxLjA3OC0uMzk5LjIzOC0uNTU5bDEuMTIxLTEuMTIxYS43NzMuNzczIDAgMDExLjEyMSAwbC4wNzkuMDgyIDQuNDAyIDQuNzE5Yy4xNi4xNi4zOTguMTYuNTU5IDBsMTAuNzE4LTExLjEyMmguMDgzYS43ODEuNzgxIDAgMDExLjEyMSAwbDEuMTE3IDEuMTIxYy4zMi4zMjEuMzIuODAxIDAgMS4xMjFsLTEyLjc5NyAxMy4yODJhLjcyOC43MjggMCAwMS0uNTYzLjIzOC43MjMuNzIzIDAgMDEtLjU1OC0uMjM4bC02LjI0My02LjcyMy0uMTYtLjIzOHoiLz48L3N2Zz4=);
}

.sidebar .cmsmasters_tabs.tabs_mode_tab ul.cmsmasters_tabs_list:after {
    display: none !important;
}

.cmsmasters_prev_arrow,
.cmsmasters_next_arrow {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.cmsmasters_prev_arrow:hover,
.cmsmasters_next_arrow:hover{
    border-color: #5D6EF4 !important;
}

.cmsmasters_prev_arrow span:before,
.cmsmasters_next_arrow span:before {
    transition: .3s ease-in-out;
    transition-property: color;
}


.cmsmasters_prev_arrow:hover span:before,
.cmsmasters_next_arrow:hover span:before{
    color: #5D6EF4;
}

.cmsmasters_like_dislike,
.cmsmasters_prev_arrow,
.cmsmasters_next_arrow,
.comment-respond, textarea,
.cmsmasters_single_slider .cmsmasters_single_slider_title span,
.comment-respond .comment-reply-title span {
    border: 1px solid #7880A4;
    box-sizing: border-box;
    border-radius: 6px !important;
}

.share_page_posts .share_posts_inner {
    background-color: #5D6EF4
}

.share_page_posts .share_posts_inner a:hover {
    color: #1B2654
}

    /* header */
.header_mid .logo_wrap {
    width: 170px;
}

.header_mid .mid_search_but_wrap .mid_search_but {
    font-size: 13px;
    line-height: 12px;
    width: 13px;
    height: 13px;
}

.header_mid .mid_nav_button {
    height: 100%;
    position: relative;
    float: left;
    align-items: center;
    display: flex;
    padding-left: 36px;
    z-index: 1;
}

.header_mid .logo_wrap img:not(.logo_retina) {
    display: block !important;
}

.header_mid .logo_wrap .logo_retina {
    display: none !important;
}

.header_mid .mid_search_but:hover {
    color: #ffffff;
    opacity: .8;
}


#commentform #submit {
    color: #fff;
    border: 1px solid transparent;
}

#commentform #submit:hover {
    border-color: #313F76;
    background: #0A1539;
}

a.cmsmasters_cat_color, .msmasters_archive_item_category a.cmsmasters_cat_color {
    background: #30B95A;
    color: #fff !important;
}

a.cmsmasters_cat_color:hover {
    background: #5953F9;
    color: #fff;
}

.cmsmasters_most_index *, .cmsmasters_tabs_list_item * {
    color: #fff !important;
}

.cmsmasters_theme_icon_search {
    color: #fff !important;
    border: 1px solid transparent;
}

.cmsmasters_theme_icon_search:hover {
    background: #0A1539 !important;
    border-color: #fff !important;
}

.cmsmasters_post_default.content_side .cmsmasters_post_title a:hover,
.cmsmasters_post_default.no_content_side .cmsmasters_post_title a:hover,
.cmsmasters_archive_item_title a:hover {
    background-image: linear-gradient(to top, #5953F9 0.13em, rgba(255,255,255,0) 0.13em);
}

.cmsmasters_lpr_tabs_cont a:hover {
    color: #5953F9 !important;
}

.archive .cmsmasters_img_wrap .wp-post-image {
    padding-top: 25px;
    height: auto;
}

#slide_top {
    color: #ffffff!important;
    border: 1px solid transparent;
}

#slide_top:hover {
    border-color: #fff !important;
}

.cmsmasters_wrap_pagination ul li {
    border-color: #7880a4 !important;
}

.cmsmasters_like_dislike,
.cmsmasters_prev_arrow,
.cmsmasters_next_arrow,
.comment-respond,
textarea,
.cmsmasters_single_slider .cmsmasters_single_slider_title span,
.comment-respond .comment-reply-title span {
    border-color: #7880a4 !important;
}

.cmsmasters_open_post .share_posts .cmsmasters_share_button, .cmsmasters_wrap_pagination ul:before, .blog.timeline:before, .cmsmasters_single_slider .cmsmasters_single_slider_title:before, .post_comments .post_comments_title:before, .about_author .about_author_title:before, .widget .widgettitle:before, .comment-respond .comment-reply-title:before, .cmsmasters_icon_list_items.cmsmasters_icon_list_type_block .cmsmasters_icon_list_item:before, .cmsmasters_sitemap_wrap .cmsmasters_sitemap > li:before {
    background-color: #7880a4 !important;
}


.headline_outer .headline_content, .cmsmasters_dropcap.type2, .cmsmasters_button, .button, input[type=submit], input[type=button], button, table tr, .cmsmasters_wrap_pagination li, .sticky .cmsmasters_post_cont_wrap, .cmsmasters_open_post .cmsmasters_post_cont_info_bottom, .post_nav, .about_author .about_author_inner, .cmsmasters_prev_arrow, .cmsmasters_next_arrow, .cmsmasters_comment_item .cmsmasters_comment_item_cont .cmsmasters_comment_item_content, .cmsmasters_open_project .project_features_title, .cmsmasters_open_project .project_details > div, .cmsmasters_open_project .project_features > div, .cmsmasters_open_profile .profile_features_title, .cmsmasters_open_profile .profile_details > div, .cmsmasters_open_profile .profile_features > div, .wp-caption, .cmsmasters_toggles .cmsmasters_toggle_title, .cmsmasters_quotes_grid .cmsmasters_quote_inner, .widget_pages ul li, .widget_categories ul li, .widget_archive ul li, .widget_meta ul li, .widget_recent_comments ul li, .widget_recent_entries ul li, .widget_nav_menu ul li, #wp-calendar caption, .widget_custom_contact_form_entries .button:hover, .widget_nav_menu ul li a, .cmsmasters_tabs .tab_comments li, .cmsmasters_attach_img .cmsmasters_attach_img_info, input:not([type=button]):not([type=checkbox]):not([type=file]):not([type=hidden]):not([type=image]):not([type=radio]):not([type=reset]):not([type=submit]):not([type=color]):not([type=range]), textarea, option, select, table td, table th, hr, blockquote, .cmsmasters_divider, .cmsmasters_widget_divider, .cmsmasters_img.with_caption, .cmsmasters_icon_wrap .cmsmasters_simple_icon, .cmsmasters_icon_box.cmsmasters_icon_box_top, .cmsmasters_icon_box.cmsmasters_icon_box_left, .cmsmasters_icon_list_items.cmsmasters_icon_list_type_block .cmsmasters_icon_list_item, .cmsmasters_icon_list_items.cmsmasters_color_type_bg .cmsmasters_icon_list_icon:after, .cmsmasters_icon_list_items.cmsmasters_color_type_icon .cmsmasters_icon_list_icon:after, .wpcf7 form.wpcf7-form span.wpcf7-list-item input[type=checkbox] + span.wpcf7-list-item-label:before, .cmsmasters-form-builder .check_parent input[type=checkbox] + label:before, .wpcf7 form.wpcf7-form span.wpcf7-list-item input[type=radio] + span.wpcf7-list-item-label:before, div.wpforms-container div.wpforms-field-container div.wpforms-field.wpforms-field-radio ul > li input[type=radio] + label:before, div.wpforms-container div.wpforms-field-container div.wpforms-field.wpforms-field-checkbox ul > li input[type=checkbox] + label:before, .nf-form-wrap .nf-form-layout .nf-form-content .list-checkbox-wrap ul > li input[type=checkbox] + label:before, .nf-form-wrap .nf-form-layout .nf-form-content .list-radio-wrap ul > li input[type=radio] + label:before, .nf-form-wrap .nf-form-layout .nf-form-content .checkbox-container .checkbox-wrap .nf-field-label label:before, .cmsmasters_contact_form div.wpforms-container .wpforms-form input:not([type=button]):not([type=checkbox]):not([type=file]):not([type=hidden]):not([type=image]):not([type=radio]):not([type=reset]):not([type=submit]):not([type=color]):not([type=range]), .cmsmasters_contact_form div.wpforms-container .wpforms-form textarea, .cmsmasters_contact_form div.wpforms-container .wpforms-form select, .cmsmasters-form-builder .check_parent input[type=radio] + label:before, .cmsmasters_icon_list_items.cmsmasters_color_type_border .cmsmasters_icon_list_item .cmsmasters_icon_list_icon:after, .cmsmasters_toggles .cmsmasters_toggles_filter a, .cmsmasters_notice .notice_close, .cmsmasters_pricing_table *, .widget_rss ul li, .widget_tag_cloud a, #page .widget_search .widgettitle + .search_bar_wrap, .cmsmasters_open_post .cmsmasters_post_footer .cmsmasters_post_tags, .cmsmasters_open_post, .cmsmasters_tabs.tabs_mode_tour .cmsmasters_tabs_list_item a, .cmsmasters_slider_post .cmsmasters_slider_post_outer, .widget_archive ul li a+ul, .widget_categories ul li a+ul, .widget_meta ul li a+ul, .widget_nav_menu ul li a+ul, .widget_pages ul li a+ul, .widget_recent_comments ul li a+ul, .widget_recent_entries ul li a+ul, .widget_rss ul li a+ul, .cmsmasters_single_slider .cmsmasters_single_slider_title span, .cmsmasters_open_post .cmsmasters_post_footer .cmsmasters_post_tags > a, .widget_mailpoet_form_cont .updated, .post_comments .post_comments_title span, .about_author .about_author_title span, .comment-respond .comment-reply-title span, .widget_mailpoet_form_cont .login .message, .comment-respond, .widget_custom_posts_tabs_entries .cmsmasters_tabs .cmsmasters_tabs_list, .widget_custom_posts_tabs_entries .cmsmasters_tabs .cmsmasters_tabs_list .cmsmasters_tabs_list_item, .cmsmasters_post_read_more, .widget .widgettitle span, .cmsmasters_like_dislike, .cmsmasters_like_dislike .cmsmastersDislike, .cmsmasters_like_dislike .cmsmastersLike, .cmsmasters_pings_list .pingslist .pingback, .cmsmasters_pings_list .pingslist .trackback, .cmsmasters_google_map .cmsmasters_notice.cmsmasters_notice_error, .middle_inner > .cmsmasters_notice.cmsmasters_notice_error {
    border-color: #7880a4;
}

.share_posts a.facebook, .cmsmasters_sharing a.facebook {
    background-color: #4a64ef !important;
}

.share_posts a.telegram, .cmsmasters_sharing a.telegram {
    background-color: #61A8DE !important;
}

.share_posts a.copy, .cmsmasters_sharing a.copy {
    background-color: #97a0da !important;
}

/*.cmsmasters_post_default.no_content_side .cmsmasters_post_title a:hover {*/
/*    background-image: linear-gradient(to top, #5953F9 0.13em, rgba(255,255,255,0) 0.13em);*/
/*}*/




.header_mid_inner .btn-crypto {
    display: inline-block;
    padding: 5px 13px;
    line-height: 22px;
    height: 34px;
    border: 2px solid #394474;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    transition: all .2s ease-in-out;
}

.header_mid_inner .btn-crypto:active:not(:disabled),
.header_mid_inner .btn-crypto:focus:not(:disabled),
.header_mid_inner .btn-crypto:hover:not(:disabled) {
    border: 2px solid #30b95a;
    background-color: rgba(48,185,90,.1);
    color: white;
    text-decoration: none;
}

div[class*="header_"] .nav_title {
    cursor: pointer;
    transition: color .3s;
}

/* footer */

.list-unstyled {
    padding-left: 0;
    margin-top: 0;
    list-style: none;
}

.footer li a {
    display: block;
    color: #fff;
    font-size: 14px;
}

.footer li {
    padding-top: 5px
}

.footer li::before {
    display: none;
}

.footer_inner_action {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .social_wrap {
    padding: 0;
    margin-left: auto;
}

.footer .footer_logo_wrap {
    margin-right: 35px;
}

.footer .footer_text, .footer .footer_text a {
    font-size: 15px;
    color: #7a84b9;
}

#header .header_mid_inner .mid_nav_button {
    height: 100%;
    position: relative;
    float: left;
    align-items: center;
    display: flex;
    padding-left: 36px;
    margin-right: auto;
}

#header .header_mid_inner .mid_nav_button-content {
    align-items: center;
    display: flex;
    border-left: 1px solid #39497b;
    padding-left: 36px;
}

#header .header_mid_inner .btn-crypto {
    text-transform: uppercase;
}

#header .header_mid .mid_nav_wrap .mid_nav_button {
    display: none;
}

.footer__title {
    color: #7a84b9;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
    padding-bottom: 10px;
}

.footer__list.footer__payment {
    display: flex;
}

.footer__block {
    margin-top: auto;
}
.footer__link:active, .footer__link:focus, .footer__link:hover {
    color: #97a0da !important;
    text-decoration: none;
}
.footer__link {
    display: block;
    color: #fff !important;
}
.footer__social-buttons .social_wrap {
    padding: 0;
}
.footer__social-buttons .social_wrap_inner {
    display: flex;
    justify-content: center;
}
.footer__social-buttons a {
    color: #5953f9!important;
    font-size: 20px;
}
.footer__copy {
    color: #7a84b9;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.footer__social-buttons a:not(:last-child) {
    margin-right: 24px;
}

.footer__social-buttons a {
    color: #5953f9;
    font-size: 20px;
}

.footer_custom_html {
    display: block !important;
}

.footer__divider {
    display: block;
    border-bottom: 1px solid #191e35;
    width: auto;
    margin: 24px 0 16px;
}

.cmsmasters_archive_type .preloader .wp-post-image {

    height: auto;
}

.archive .cmsmasters_img_wrap .wp-post-image {
    padding-top: 0
}

.cmsmasters_archive_type .preloader {
    margin-top: 25px;
    padding-bottom: 56%;
}


@media only screen and (max-width: 1199.98px) {
    .footer__payment {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer_inner_action {
        justify-content: center;
    }
}

@media only screen and (max-width: 768px) {
    #header {
        overflow: visible;
    }

    #header .header_mid .header_mid_outer {
        overflow: visible;
    }

    #header .header_mid {
        overflow: visible;
        clear: both;
    }

    #header .header_mid .header_mid_inner_cont {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #header .header_mid .logo_wrap {
        width: auto;
        margin: 0;
    }

    #header .header_mid .mid_nav_wrap {
        left: 0;
        position: absolute;
        width: 100%;
        top: 100%;
        z-index: 1;
        margin: 0;
    }

    .header_mid .logo_wrap .logo :not(.logo_retina) {
        display: none !important;
    }

    .header_mid .logo_wrap .logo .logo_retina {
        display: block !important;
    }

    #header .header_mid_inner .mid_nav_button-content {
        border: 0;
        padding: 0;
    }

    .footer .social_wrap {
        margin: auto;
    }

    .footer .footer_logo_wrap {
        margin-right: auto;
        margin-left: auto;
    }

    .footer .footer_text {
        margin-top: 15px;
        text-align: center;
        margin-bottom: 10px;
    }

    .footer .footer__block {
        text-align: left;
    }

    .footer {
        padding: 0;
    }

    .footer li a, .footer__list.footer__social *, .footer__copy {
        text-align: left;
    }
    .footer__list.footer__payment {
        justify-content: center;
    }

    .footer__social-buttons {
        justify-content: center;
    }

    .footer__payment {
        position: unset;
        justify-content: center;
        flex-direction: row;
        margin: 30px 0 20px;
        flex-basis: 100%;
        width: 100%;
    }

    .footer .footer__block {
        text-align: center;
    }

    .footer li a, .footer__list.footer__social *, .footer__copy {
        text-align: center;
    }


    .footer_inner_action {
        flex-direction: column;
    }


    .footer_inner_action .mid_nav_button {
        padding-left: 0;
        margin-top: 18px;
        margin-bottom: 18px;
        margin-left: auto;
    }

    .footer_inner_action .mid_nav_button-content {
        padding-left: 0;
        border: 0;
    }

    h3.cmsmasters_post_title a {
        font-size: 30px !important;
        line-height: 1.2 !important;
    }
}

@media only screen and (max-width: 768px) {
    #header .navigation a {
        padding: 2px 20px 2px 15px;
    }

    .content {
        padding: 0 !important;
    }

    h3.cmsmasters_post_title a, .cmsmasters_open_post .cmsmasters_post_header .cmsmasters_post_title {
        font-size: 30px !important;
        line-height: 1.2 !important;
    }

    .cmsmasters_post_default .cmsmasters_post_cont {
        padding: 24px 42px 57px !important;
    }

    .widget_most_popular_widget_list {
        margin-left: auto;
        margin-right: auto;
    }

    .widget_most_popular_widget_list *
    {
        text-align: center !important;
    }

    .cmsmasters_footer_default_2 .footer_nav_wrap {
        padding-top: 18px;
    }
    .cmsmasters_footer_default_2 .footer_nav {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .cmsmasters_footer_default_2 .footer_nav > li:not(:last-child) {
        margin-bottom: 18px;
        width: 100%;
    }
}

@media only screen and (max-width: 560px) {

    h3.cmsmasters_post_title a, .cmsmasters_post_default.no_content_side .cmsmasters_post_title {
        font-size: 25px !important;
        line-height: 1.2 !important;
    }

    .cmsmasters_post_default .cmsmasters_post_cont {
        padding: 24px 30px 40px !important;
    }

    #header .header_mid .header_mid_inner_cont {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    #header .header_mid .resp_mid_nav_wrap,
    #header .header_mid .mid_search_but_wrap {
        position: absolute;
    }

    #header .header_mid .resp_mid_nav_wrap {
        right: 65px;
    }

    #header .header_mid .mid_search_but_wrap {
        right: 10px;
    }

    .header_mid_inner .mid_nav_button {
        margin: auto;
        width: 100%;
        padding: 15px 0 0;
    }

    #header .header_mid .mid_nav_button {
        display: none;
    }

    #header .header_mid .mid_nav_wrap .mid_nav_button {
        display: block;
        padding: 20px;
        background-color: #08102d;
    }

    #header .header_mid .mid_nav_wrap .mid_nav_button .btn-crypto {
        font-size: 16px;
        height: auto;
        padding: 17px 13px;
        border-radius: 4px;
        width: 100%;
    }

    .mid_nav_button.hidden {
        display: none !important;
    }

}
